body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(231, 231, 231);
  font-family: 'Roboto';
  font-weight: bold;
  /* font-family: 'Staatliches', cursive; */
}

.avatar__emoji {
  font-size: 3em;
  margin: 9px 7px;
}

.rebus {
  font-size: 1.5em;
  display: block;
  text-align: center;
}

.rebus img {
  margin: 0 4px !important;
}
